In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from lib import DihedralAdherence
from lib import PDBMineQuery
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from pathlib import Path
import json
PDBMINE_URL = os.getenv("PDBMINE_URL")
PROJECT_DIR = 'casp_da'

In [12]:
proteins = [
  'T1024', 'T1030', 'T1030-D2', 'T1024-D1', 'T1032-D1', 'T1053-D1', 'T1027-D1', 'T1029-D1',
  'T1025-D1', 'T1028-D1', 'T1030-D1', 'T1053-D2', 'T1057-D1','T1058-D1', 'T1058-D2'
]
da = DihedralAdherence(proteins[0], [4,5,6,7], PDBMINE_URL, PROJECT_DIR, kdews=[1,1,1,1], 
                      mode='full_window', weights_file='ml_runs/best_model-kde_16-32_383.pt', device='cpu')
                    #   mode='ml', weights_file='ml_runs/best_model-kde_16-32_383.pt', device='cpu')

da.load_results_da()
center_idx_ctxt = da.queries[-1].get_center_idx()
winsize_ctxt = da.queries[-1].winsize
if center_idx_ctxt < 0:
    center_idx_ctxt = winsize_ctxt + center_idx_ctxt
da.seqs_for_window = da.seqs[center_idx_ctxt:-(winsize_ctxt - center_idx_ctxt - 1)]

Initializing T1024 ...
Results already exist
Casp ID: T1024 	PDB: 6t1z
Structure exists: 'pdb/pdb6t1z.ent'
UniProt ID: Q48658

In [13]:
q = da.queries[0]
seq_ctxt = da.seqs_for_window[0]
seq = q.get_subseq(seq_ctxt)
phi_psi_dist = q.results_window[q.results_window.seq == seq]
phi_psi_dist

          seq res  match_id  window_pos    phi    psi chain protein_id
3103088  LDKN   L         0           0  -81.9  161.1     A       1A06
3103089  LDKN   D         0           1 -113.2   27.2     A       1A06
3103090  LDKN   K         0           2  -80.3  130.1     A       1A06
3103091  LDKN   N         0           3  -67.0  111.1     A       1A06
3103092  LDKN   L         1           0  -97.7   -6.2     A       1AJ5
...       ...  ..       ...         ...    ...    ...   ...        ...
3112791  LDKN   N      2425           3  -78.0  -29.4     A       9BD0
3112792  LDKN   L      2426           0  -87.8  -21.1     A       9BD0
3112793  LDKN   D      2426           1 -100.6  145.5     A       9BD0
3112794  LDKN   K      2426           2  -56.4  -19.3     A       9BD0
3112795  LDKN   N      2426           3  -65.8  -14.4     A       9BD0

[9708 rows x 8 columns]